.main {
    display: flex;

    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../../public/rooms/garden/garden.png");
    background-position: center;
}

.zone {
    position: absolute;
    cursor: pointer;
}

.nestZone {
    top: 0%;
    left: 56%;
    width: 18%;
    height: 18%;
}

.zone1 {
    top: 60%;
    left: 70%;
    width: 25%;
    height: 40%;
}


.zone2 {
    top: 70%;
    left: 26%;
    width: 4%;
    height: 13%;
}



.zone3 {
    top: 2%;
    left: 27%;
    width: 7%;
    height: 15%;
}

