.main {
    display: flex;

    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../../public/rooms/garden/garden.png");
    background-position: center;
}

.zone {
    position: absolute;
    cursor: pointer;
}

.nestZone {
    top: 0%;
    left: 56%;
    width: 18%;
    height: 18%;
    background-color: rgba(214, 214, 214, 0.45);
}

.zone1 {
    top: 60%;
    left: 58%;
    width: 40%;
    height: 40%;
    background-color: rgba(245, 22, 46, 0.67);
}

.zone2 {
    top: 30%;
    left: 56%;
    width: 4%;
    height: 15%;
    background-color: rgba(245, 22, 46, 0.67);
}

.zone3 {
    top: 2%;
    left: 27%;
    width: 7%;
    height: 15%;
    background-color: rgba(245, 22, 46, 0.67);
}


