.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/maid-room.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.bed {
    position: absolute;
    top: 22%;
    left: 20%;
    width: 45%;
    height: 45%;
    z-index: 10;
    cursor: pointer;
}

.book {
    position: absolute;
    bottom: 7%;
    right: 12%;
    width: 30%;
    height: 19%;
    z-index: 10;
    cursor: pointer;
}
