.main {
    height: 100vh;
    width: 100vw;
    background-image: url("/rooms/kitchen.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.zone {
    position: relative;
    width: 200px;
    height: 120px;
    border: 2px dashed #888;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
