.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/kitchen.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.zone {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.zone1 {
    top: 10%;
    left: 43%;
    width: 7%;
    height: 25%;
}

.zone2 {
    top: 6%;
    left: 87%;
    width: 9%;
    height: 20%;
}

.zone3 {
    top: 0%;
    left: 4%;
    height: 40%;
    width: 15%;
}

