.main {
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/hall.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 9999;
    pointer-events: none;
}

.cursorLabel {
    position: absolute;
    left: 14px;
    top: -26px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    white-space: nowrap;
}

.cursorArrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 46px;
    height: 46px;
    transform-origin: center;
}

.zone {
    position: absolute;
    z-index: 10;
    cursor: none;
}
