.screamer {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.5;
}
