.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/living-room.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.fireplace {
    position: absolute;
    top: 24%;
    left: 33%;
    width: 34%;
    height: 34%;
    z-index: 10;
    cursor: pointer;
}

.blueprint {
    position: absolute;
    top: 66%;
    left: 38%;
    width: 24%;
    height: 18%;
    z-index: 10;
    cursor: pointer;
}

.portrait {
    position: absolute;
    top: 0;
    left: 38%;
    width: 24%;
    height: 20%;
    z-index: 10;
    cursor: pointer;
}
