.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/livingRoom/living-room-with-blueprint.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.main2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/livingRoom/living-room-without-blueprint.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.blueprintTaken {
    background-image: url("../../public/rooms/livingRoom/living-room-with-blueprint.png");
}

.fireplace {
    position: absolute;
    top: 30%;
    left: 33%;
    width: 34%;
    height: 30%;
    z-index: 10;
    cursor: pointer;
}

.blueprint {
    position: absolute;
    top: 62%;
    left: 35%;
    width: 30%;
    height: 17%;
    z-index: 10;
    cursor: pointer;
}

.portrait {
    position: absolute;
    top: 0;
    left: 41%;
    width: 18%;
    height: 23%;
    z-index: 10;
    cursor: pointer;
}
