.bg {
    background-image: url("/rooms/library.png");
    background-size: cover ;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.title{
    font-size: 128px;
    color: white;
}

.container{
    display: flex;
    gap: 16px;
}