html {
  background: #000;
  font-size: 1.5rem;
}

.page {
  height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;

  background-image: url("../public/introductionIMG.png");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 1;

  height: 100vh;
  overflow-y: auto;

  text-align: center;

  padding: 4rem;
  color: white;
}

.content p {
  margin-bottom: 50vh;
  padding-top: 1.5rem;
}




