.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/rooms/library/library-with-books.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.booksTaken {
    background-image: url("/rooms/library/library-without-books.png");
}

.booksZone {
    position: absolute;
    top: 80%;
    left: 28%;
    width: 45%;
    height: 20%;
    cursor: pointer;
}
