.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/rooms/library.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}