@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 22deg;
}

.rain {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left:0vw;
    overflow: hidden;
}

.drops {
    position: absolute;
    width: 100%;
    height: 100%;
}

.drop {
    position: absolute;
    top: 0vh;
    width: 2px;
    height: 25px;
    background: linear-gradient(to bottom, #abc2e9, transparent);
    opacity: 0.7;
    animation: rainFall 0.6s linear infinite;
    transform: rotate(var(--angle));
}

.drop2 {
    position: absolute;
    top: 0vh;
    width: 2px;
    height: 25px;
    background: linear-gradient(to bottom, #abc2e9, transparent);
    opacity: 0.7;
    animation: rainFall2 0.6s linear infinite;
    transform: rotate(var(--angle));
}

.drop:nth-of-type(1) { left: 10%; animation-duration: 1.2s; animation-delay: -0.2s; }
.drop:nth-of-type(2) { left: 25%; animation-duration: 0.9s; animation-delay: -1s; }
.drop:nth-of-type(3) { left: 40%; animation-duration: 1.5s; animation-delay: -0.6s; }
.drop:nth-of-type(4) { left: 60%; animation-duration: 1.1s; animation-delay: -0.4s; }
.drop:nth-of-type(5) { left: 80%; animation-duration: 0.8s; animation-delay: -1.3s; }

.drop2:nth-of-type(1) { left: 10%; animation-duration: 1.2s; animation-delay: -0.2s; }
.drop2:nth-of-type(2) { left: 25%; animation-duration: 0.9s; animation-delay: -1s; }
.drop2:nth-of-type(3) { left: 40%; animation-duration: 1.5s; animation-delay: -0.6s; }
.drop2:nth-of-type(4) { left: 60%; animation-duration: 1.1s; animation-delay: -0.4s; }
.drop2:nth-of-type(5) { left: 80%; animation-duration: 0.8s; animation-delay: -1.3s; }

@keyframes rainFall {
    from {
        transform: translate(75vw, 0vh) rotate(var(--angle));
    }
    to {
        transform: translate(55vw, 120vh) rotate(var(--angle));
    }
}

@keyframes rainFall2 {
    from {
        transform: translate(30vw, 0vh) rotate(var(--angle));
    }
    to {
        transform: translate(15vw, 120vh) rotate(var(--angle));
    }
}
